
.ten{
  padding:10px;
  margin: 10px;
  background-color: orangered;
  border-radius: 10px;
  width: 200px;
  border: 2px dotted aqua;
  box-shadow: 2px 5px 5px 2px rgb(39, 14, 129);
 

}
.ten:hover{
  background-color: yellowgreen;
  cursor: pointer; 
  transform: translateY(-5px);
 
}
a{
    text-decoration: none;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}
h3{
    color:green;
}
h1{
    color: red;
}
.one{
    margin: 10px;
    padding: 20px;

}
.two{
    margin-left: 10px;
    padding: 20px;
}
em{
    color:blueviolet;
}
.three{
    display: flex;
   justify-content: center;
    
}
.tenone{
    display: flex;
    justify-content: center;
  
  

}
.tenone>a{
    color:gray;
    font-weight: 20px;
}
#bg{
background-color: rgb(0, 255, 30);
}